{% extends "base.html" %}

{% block app_content %}
<div class="row mt-3">
    <div class="col-12 col-md-6">
        <form method="POST" enctype="multipart/form-data">
            <h3 class="mb-4">Receipt settings</h3>
            {{ settings_form.hidden_tag() }}
            {{ forms.form_field(settings_form.administration_costs) }}
            {{ forms.form_field(settings_form.vat) }}
            {{ forms.form_field(settings_form.receipt_title) }}
            {{ forms.form_field(settings_form.receipt_address) }}
            {{ forms.form_field(settings_form.receipt_country) }}
            {{ forms.form_field(settings_form.receipt_phone) }}
            {{ forms.form_field(settings_form.save_changes, class_="float-right") }}
        </form>
    </div>
    <div class="col-12 col-md-6">
        <form method="POST" enctype="multipart/form-data">
            <h3 class="mb-4">View receipt from Purchase</h3>
            {{ receipt_form.hidden_tag() }}
            {{ forms.form_field(receipt_form.purchase) }}
            <div class="mb-3">
                {{ forms.form_field(receipt_form.view_tickets, class_="btn-info") }}
                {{ forms.form_field(receipt_form.view_receipt, class_="float-right btn-info") }}
            </div>
            <div>
                {{ forms.form_field(receipt_form.resend_tickets) }}
                {{ forms.form_field(receipt_form.resend_receipt, class_="float-right") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
