<!DOCTYPE html>
<html lang="en">
    {% include "receipts/receipt_template_head.html" %}
    <body>
    <img style="float: left; width: 255px; height: 121px;" src="{{url_for('static', filename='receipt_logo.svg')}}" alt="logo" />
        <div class="receipt-header">
            <h2>Receipt</h2>
            <h3>{{ purchase.created_at.strftime("%Y-%m-%d") }}</h3>
            <h4>{{ purchase.receipt_number }}</h4>
            <h5>{{ purchase.receipt_reference }}</h5>
        </div>
        <div class="receipt-address">
            <div>{{ conf.receipt_title }}</div>
            <div>{{ conf.receipt_address }}</div>
            <div>{{ conf.receipt_city }}</div>
            <div>{{ conf.receipt_country }}</div>
            <div>{{ conf.receipt_email }}</div>
        </div>
        <div class="receipt-customer">
            <div>{{ purchase.full_name }}</div>
            <div>{{ purchase.email }}</div>
        </div>
        <div>
            <table class="receipt-table receipt-overview">
                <thead>
                <tr>
                    <th>Receipt number</th>
                    <th>Purchase date</th>
                    <th>Payment reference</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ purchase.receipt_number }}</td>
                    <td>{{ purchase.created_at.strftime("%Y-%m-%d") }}</td>
                    <td>{{ purchase.receipt_reference }}</td>
                </tr>
                </tbody>
            </table>
            <table class="receipt-table receipt-products">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>VAT</th>
                    <th>Price (ex. VAT)</th>
                    <th>Items</th>
                    <th>Total (ex. VAT)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tickets for {{ purchase.party.name }}</td>
                    <td>{{ purchase.vat_percentage }}%</td>
                    <td>{{ purchase.receipt_ticket_price_no_vat | cents_to_euro | euro_format }}</td>
                    <td>{{ purchase.number_of_tickets }}</td>
                    <td>{{ purchase.receipt_price_no_vat | cents_to_euro| euro_format }}</td>
                </tr>
                </tbody>
            </table>
            <table class="receipt-table receipt-summary">
                <tbody>
                <tr>
                    <th></th>
                    <th>Total products</th>
                    <td>{{ purchase.receipt_price_no_vat | cents_to_euro| euro_format }}</td>
                </tr>
                <tr>
                    <th></th>
                    <th>Administrative costs</th>
                    <td>{{ purchase.administration_costs_no_vat | cents_to_euro| euro_format }}</td>
                </tr>
                <tr>
                    <th></th>
                    <th>Total (ex. VAT)</th>
                    <td>{{ (purchase.administration_costs_no_vat + purchase.receipt_price_no_vat) | cents_to_euro| euro_format }}</td>
                </tr>
                <tr>
                    <th></th>
                    <th>Total VAT</th>
                    <td>{{ purchase.vat | cents_to_euro | euro_format }}</td>
                </tr>
                <tr class="receipt-total">
                    <th></th>
                    <th style="text-align: right;" class="receipt-total__border">Total</th>
                    <th class="receipt-total__border">{{ (purchase.price + purchase.administration_costs) | cents_to_euro | euro_format }}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
