{% extends "email/base.html" %}

{% if config.get("DEBUG") %}{% set scheme="http" %}{% else %}{% set scheme="https" %}{% endif %}

{% block body %}
<table style="width: 100%; max-width: 800px; border: 1px solid lightgrey; margin-left: auto; margin-right: auto;">
    <tbody>
        {% with title="Ticket purchase" %}
            {% include "email/snippets/header.html" %}
        {% endwith %}
        <tr class="table-main-body">
            <td style="padding-bottom: 16px; text-align: center;">
                <p>Dear {{ purchase.first_name }},</p>
                <br/>
                <p style="max-width: 480px; margin-left: auto; margin-right: auto;">
                    Thank you for purchasing tickets to {{ purchase.party.name }}.
                </p>
                <p>
                    {{ purchase.party.party_start_datetime.strftime("%d %B") }} {{ purchase.party.party_start_datetime.strftime("%H:%M") }}-{{ purchase.party.party_end_datetime.strftime("%H:%M") }}<br />
                    {{ purchase.number_of_tickets }} tickets
                </p>
                <p style="max-width: 480px; margin-left: auto; margin-right: auto;">
                    At the door, please show this QR code to the hostess to enter the venue.
                </p>
                <img src="{{ url_for('api.purchase_purchase_apiqr_code', _scheme=scheme, _external=True, purchase_hash=purchase.hash) }}" alt="QR code">
                <p style="max-width: 480px; margin-left: auto; margin-right: auto;">
                    Alternatively, you show the following code:<br />
                    "{{ purchase.entrance_code() }}"
                </p>
                {% include "email/snippets/closing.html" %}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}