{% if config.get("LOCALHOST") %}{% set scheme="http" %}{% else %}{% set scheme="https" %}{% endif %}

<tr style="background-color: #000000;">
    <td style="text-align: center; padding: 0 !important;">
        <div style="background-image: url({{ url_for('api.documents_email_logo', _scheme=scheme, _external=True) }}); background-position: left top; background-repeat: no-repeat; background-size: auto 100%;">
            <h2 style="color: #fff; padding-top: 16px; padding-bottom: 16px; margin-bottom: 0;">
                <span>{{ title }}</span>
            </h2>
        </div>
    </td>
</tr>