<p>Dear {{ user.first_name }},</p>
<br/>
<p>A password reset has been requested for your account.</p>
<p>To reset your password, follow <a href="{{ config.RESET_URL }}/{{ token }}" target="_blank">this</a> link</p>
<p>
    <span>Alternatively, you can paste the following link in your browser's address bar:</span>
    <br/>
    <span>{{ config.RESET_URL }}/{{ token }}</span>
</p>
<p>If you have not requested a password reset, please ignore this message.</p>
<br/>
<p>Regards,</p>
<p>{{ config.PRETTY_URL }}</p>
