<style type="text/css">
html {
    font-family: sans-serif;
    line-height: 1.15;
    background-color: #ddd;
}
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    margin-top: 2rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
}
td {
    padding: 4px 8px;
}
h1 {
    font-size: 2.5rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}
.trace-group {
    margin-top: 0;
    margin-bottom: 0;
}
.trace-group .trace-group-item td {
    padding: .5rem .5rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.table-main-body,
.table-main-body tr {
    color: #212529;
    background-color: #fff;
}

.cta_wrapper {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}
.button--cta {
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.5s;
}
.button--cta:hover {
    background-color: #444;
    box-shadow: 0 0 4px 1px grey;
}
.cta_wrapper .button--cta {
    color: #fff !important;
}
.cta_wrapper .button--cta:hover {
    color: #999 !important;
}
</style>