{% extends "base.html" %}

{% block app_content %}
<div class="row">
    {% with url=url_for("settings.index"), title="General settings", image="settings.png" %}
        {% include "_dashboard_page.html" %}
    {% endwith %}
    {% with url=url_for("receipts.index"), title="Receipts & tickets settings", image="receipts.png" %}
        {% include "_dashboard_page.html" %}
    {% endwith %}
    {% with url=url_for("invoices.index"), title="Invoice settings", image="invoices.png" %}
        {% include "_dashboard_page.html" %}
    {% endwith %}
    {% with url=url_for("email.index"), title="E-mails", image="email.png" %}
        {% include "_dashboard_page.html" %}
    {% endwith %}
</div>
<div class="row">
    {% with url=url_for("admin.index"), title="Database", image="db.png" %}
        {% include "_dashboard_page.html" %}
    {% endwith %}
    {% if config.get("DEBUG") and not config.get("DEMO") %}
        {% with url=url_for("testing.index"), title="Testing", image="testing.png" %}
            {% include "_dashboard_page.html" %}
        {% endwith %}
    {% endif %}
    {% if config.get("DEMO") %}
        {% with url=url_for("demo.index"), title="Demo", image="demo.png" %}
            {% include "_dashboard_page.html" %}
        {% endwith %}
    {% endif %}
    {% if config.get("DEBUG") and current_user.is_admin %}
        {% with url=url_for("preview.index"), title="Preview PDFs", image="preview.png" %}
            {% include "_dashboard_page.html" %}
        {% endwith %}
    {% endif %}
</div>
{% endblock %}
