{% extends "base.html" %}

{% block app_content %}
<div class="row">
    {% with url=url_for("admin.index"), title="Database", image="db.png" %}
        {% include "_dashboard_page.html" %}
    {% endwith %}
    {% with url=url_for("settings.index"), title="Settings", image="settings.png" %}
        {% include "_dashboard_page.html" %}
    {% endwith %}
    {% with url=url_for("invoices.index"), title="Invoices", image="invoices.png" %}
        {% include "_dashboard_page.html" %}
    {% endwith %}
    {% with url=url_for("email.index"), title="E-mails", image="email.png" %}
        {% include "_dashboard_page.html" %}
    {% endwith %}
    {% if config.get("DEBUG") %}
    {% with url=url_for("testing.index"), title="Testing", image="testing.png" %}
        {% include "_dashboard_page.html" %}
    {% endwith %}
    {% endif %}
</div>
{% endblock %}
