{% extends "base.html" %}

{% block navbar %}{% endblock %}

{% block app_content %}
<div class="container d-flex flex-column flex-grow-1 justify-content-center" style="min-height: 100vh;">
    <form class="align-self-center" method="POST" enctype="multipart/form-data">
        <h3 class="mb-4 text-center">Admin login</h3>
        {{ login_form.hidden_tag() }}
        {{ login_form.email(class_="form-control mx-1 my-2", placeholder="E-mail") }}
        {{ login_form.password(class_="form-control mx-1 my-2", placeholder="Password") }}
        {{ login_form.submit(class_="btn btn-primary form-control mx-1 my-3") }}
    </form>
</div>
{% endblock %}
