{% extends "base.html" %}

{% block app_content %}
<div class="row mt-3">
    <div class="col-12 col-md-6">
        <form method="POST" enctype="multipart/form-data">
            <h3 class="mb-4">Settings</h3>
            {{ settings_form.hidden_tag() }}
            <h5>Commissions</h5>
            <div class="row">
                <div class="col-6">
                    {{ forms.form_field(settings_form.default_club_owner_commission) }}
                </div>
                <div class="col-6">
                    {{ forms.form_field(settings_form.default_promoter_commission) }}
                </div>
                <div class="col-6 offset-6">
                    {{ forms.form_field(settings_form.minimum_promoter_commission) }}
                </div>
            </div>
            <h5>Mollie</h5>
            {{ forms.form_field(settings_form.mollie_api_key) }}
            {{ forms.form_field(settings_form.save_settings, class_="float-right") }}
        </form>
    </div>
    <div class="col-12 col-md-6">
        <form method="POST" enctype="multipart/form-data">
            <h3 class="mb-4">Terms</h3>
            {{ terms_form.hidden_tag() }}
            {{ forms.form_field(terms_form.terms) }}
            <div class="mt-3">
                {{ forms.form_field(terms_form.upload_terms, class_="float-right") }}
            </div>
        </form>
        <form method="POST" enctype="multipart/form-data">
            <div class="mt-3">
                {{ forms.form_field(remove_terms_form.remove_terms, { "class_": "float-left", "name": "danger"} ) }}
            </div>
        </form>
        <div class="mt-4">
            {% if conf.terms %}
                View the current terms <a href="{{ url_for('settings.terms') }}">here</a>.
            {% else %}
                No terms uploaded.
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
