<div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
    <a href="{{url}}" style="text-decoration: none; color: black;" {% if external is defined %}target="_blank"{% endif %}>
        <div class="card" style="height: 100%">
            <img src="{{url_for('static', filename='dashboard_images/'+image)}}" class="card-img-top mx-auto" style="max-width: 128px; max-height: 128px; margin-top: 16px;">
            <div class="card-body pb-2" style="text-align: center;">
                <h4 class="card-title">{{ title }}</h4>
            </div>
        </div>
    </a>
</div>
