{% macro form_field(field, button_map={}) %}

{# workaround from flask-bootstrap #}
{% if field.flags.required and not required in kwargs %}
    {% set kwargs = dict(required=True, **kwargs) %}
{% endif %}

{% if "class_" in kwargs %}
    {% set field_class = kwargs["class_"] %}
{% else %}
    {% set field_class = "" %}
{% endif %}

{% if field.widget.input_type == "checkbox" %}
    <div class="checkbox"><label>{{field(**kwargs)|safe}} {{field.label.text|safe}}</label></div>
{%- elif field.type == "SubmitField" -%}
    {# deal with jinja scoping issues? #}
    {% set field_kwargs = kwargs %}
    {# note: same issue as above - should check widget, not field type #}
    {{field(class="btn btn-{0} {1}".format(button_map.get(field.name, "primary"), field_class), **field_kwargs)}}
{% else -%}
    {% set field_class = "form-group {0}".format(field_class) %}
    {% if field.flags.required %}
        {% set field_class = "{0} required".format(field_class) %}
    {% endif -%}
    <div class="{{ field_class }}">
        {% if field.label.text != "" %}
            {{field.label()}}
        {% endif %}
        {% set field_class = "form-control" %}
        {% if field.errors %}
            {% set field_class = "{0} is-invalid".format(field_class) %}
        {% endif -%}
        {{field(class=field_class, **kwargs)|safe}}
        {%- if field.errors %}
            {%- for error in field.errors %}
                <div class="invalid-feedback">{{error}}</div>
            {%- endfor %}
        {%- elif field.description -%}
            <small class="text-muted">{{field.description|safe}}</small>
        {%- endif %}
    </div>
{% endif %}
{% endmacro %}